<h1>フォロワ一覧(<%= @followers_users.count %>)</h1>
<div class="row">
<% @followers_users.each do |f| %>
    <div class="col-md-3">
        <%= gravatar_for f %>
        <p><a href="/users/<%= f.id %>"><%= f.name %></a></p>
        <p><%= f.hitokoto %></p>
    </div>
<% end %>
</div>