
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%=  @user.name %>
            </h1>
            <% if session[:user_id] == params[:id].to_i %>
                <%= form_for @user, :url => {:action => 'update'} do |f| %>
                    <%= f.text_area :hitokoto, :placeholder => "ひとこと"%>
                    <%= f.submit "保存", class: "btn btn-large btn-primary" %>
                <% end %>
            <% else %>
                <p><%= @user.hitokoto %></p>
            <% end %>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                
                <%= render @microposts %>
                
            </ol>
        <% end %>
    </div>
</div>

<% if session[:user_id] == params[:id].to_i %>
    <%= link_to 'followings', "/users/followings/#{session[:user_id]}" %>
    <%= link_to 'followers', "/users/followers/#{session[:user_id]}" %>
    <%= link_to 'favorite', "/users/favorite/#{session[:user_id]}" %>
    
    <hr>
    <h2>プロフィール更新</h2>
    <%= form_for @user, :url => {:action => 'update'} do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
    
        <%= f.label :region %>
        <%= f.text_field :region %>
    
        <%= f.label :password %>
        <%= f.password_field :password , class: 'form-control' %>
                
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation , class: 'form-control' %>
        <%= f.submit "プロフィール更新", class: "btn btn-large btn-primary" %>
    <% end %>
<% end %>
